{% extends "base.html" %}
{% block content %}
     <div>
        <h2 style="margin-left:100px; margin-top: 40px;;">Entre em contato</h2>
        <p style="margin-left:100px; margin-right: 100px; margin-top: 25px;;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. </p>
        <div> 
        <p><hr class="linha"> </p>  </div>
     </div>
     <div>
        <form action="/action_page.php" style="margin-left:100px; margin-top: 40px;;">
            <label for="fname">Seu email:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Assunto:</label><br>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="lname">Descrição:</label><br>
            <input type="text" id="lname" name="lname" style="height:25px;"><br><br>
            <input type="submit" value="Enviar">
          </form> 

     </div>
</body>
{% endblock %}
