{% extends "base.html" %}
{% block content %
<body background="{{ url_for('static', filename='img/fundo.png')}}"> 
         <img  src="{{ url_for('static', filename='img/capa.png')}}" alt="" style="margin-top: 5px;"> 
     </div>
     <div>
        <h2 style="margin-left:100px; margin-top: 20px;;">Sobre a universidade </h2>
        <p style="margin-left:100px; margin-right: 100px;;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum. Repellat doloremque, dolorem architecto consequatur
             culpa tempore iusto mollitia cupiditate pariatur odit?
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.</p>
            <p style="margin-left:100px; margin-right: 100px; margin-top: 15px;;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum.</p>
     </div>
</body>
{% endblock %}
