{% extends "base.html" %}
{% block content %}
<body background="{{ url_for('static', filename='img/fundo2.png')}}"></body>
     <div>
        <h2 style="margin-left:100px; margin-top: 40px;;">Quem somos</h2>
        <p style="margin-left:100px; margin-right: 100px; margin-top: 25px;;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum. Repellat doloremque, dolorem architecto consequatur
             culpa tempore iusto mollitia cupiditate pariatur odit?
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum. </p>
        
        <h2 style="margin-left:100px; margin-right: 100px; margin-top: 25px;;">5 Motivos para estudar</h2>

        <p style="margin-left:100px; margin-top: 40px;;">1. Material sempre atualizado <br>
           2. Tablets em sala de aula <br>
           3. Professores renomados <br>
           4. Universidade bem avaliada <br>
           5. Ótima localização
        </p>
        
        <p><hr class="linha"> </p> 
     </div>
     <div>
        <h2 style="margin-left:100px; margin-top: 40px;;">Objetivos</h2>
        <p style="margin-left:100px; margin-right: 100px; margin-top: 25px;;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum. Repellat doloremque, dolorem architecto consequatur
             culpa tempore iusto mollitia cupiditate pariatur odit?
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum. </p>
     </div>
{% endblock %}
        
        <p><hr class="linha"> </p> 
     </div>
     <div>
        <h2 style="margin-left:100px; margin-top: 40px;;">Objetivos</h2>
        <p style="margin-left:100px; margin-right: 100px; margin-top: 25px;;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
            Ratione ab porro eius cum. Repellat doloremque, dolorem architecto consequatur
             culpa tempore iusto mollitia cupiditate pariatur odit?
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quisquam sequi quia. 
             Ratione ab porro eius cum. </p>
     </div>
</body>
{% endblock %}
